.boxSelector{
    width: 143px;
    background: none;
    border: 2px solid aqua;
    font-family: Broadway;
    transform-origin: center;
    height: 20px;
    color: #5b5959;
    /*color: white;*/
    font-weight: bold;
}
.boxSelector:hover{
    box-shadow:0px 0px 25px #0a39f6;
}
