body {
    margin: 0;
}
.header{
    width: 98.7vw;
    height: 60px;
    background: radial-gradient(cyan, cornflowerblue, fuchsia);
    color: slategray;
    font-family: "Berlin Sans FB";
    display: flex;
    justify-content: right;
    align-items: center;
}
a{
    text-decoration: none;
    color: slategray;
    margin: 100px;
}