.allFilms{
    position: relative;
    /*font-family: Papyrus;*/
    font-family: Algerian;
    color: #676666;
    font-size: 23px;
}
 .boxAllFilm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    border: 2px solid black;
    position: relative;
    left: 41%;
    top: -20px;
    background: #343434;
}