
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: #201D1F;*/

    background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
    -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
    -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
    -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
    -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
    -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
    -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
    -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
    -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
    -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
    -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-size: 20px 20px;
    background-color: #131313;


    /*background: white;*/
    justify-content: center;
    align-items: center;
    font-family: Arial;
    /*width: 98.7%;*/
}

.wqw{
    color: cyan;
}
html.qw, .qw body{
    /*background: #cbc5c5;*/



    background: linear-gradient(27deg, #a9a8a8 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #e7e4e4 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #7c7b7b 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #f6f6f6 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #afaeae 10px, transparent 10px),
    linear-gradient(#fff8f8 25%, #9b9b9b 25%, #fcfcfc 50%, transparent 50%, transparent 75%, #f8f6f6 75%, #242424);
    /*background-size: 15px 15px;*/
    background-color: #817373;



}
.qw .box{
    background: #bdbdbd;
}
.qw .name{
    color: rgba(16, 15, 15, 0.98);
    font-family: "Arial Black";
}
.qw .allFilms{
    font-family:Arial ;
    color: rgba(16, 15, 15, 0.98);
}
.qw .boxAllFilm{
    background: #858383;
    border: 2px solid #656464;
}

.qw .buttonReset{
    background:#cbc5c5;
}
.qw .buttonReset::after{
    background:#cbc5c5;
}
.qw .buttonReset::before{
    background:#cbc5c5;
}
.qw .boxAboutMovie{
    background: #cbc5c5;
}
.qw .colorTitle{
    color: #181818;
}
.qw .colorTitle:hover{
    color: rgb(87, 8, 101);
}
.qw .backNav{
    color: rgba(16, 15, 15, 0.98);
}
.qw .fontArrow{
    color: rgba(16, 15, 15, 0.98);
}
.qw .boxGenre{
    color: rgba(16, 15, 15, 0.98);
    border: 1px solid #777474;
}
.qw .description{
    color: rgba(16, 15, 15, 0.98);
}
.qw .overview{
    color: rgba(16, 15, 15, 0.98);
}
.qw .style{
    color: rgba(16, 15, 15, 0.98);
}
.qw .hr{
background: radial-gradient(darkslategrey,silver,darkslategrey);
}
.qw .h2Commen{
    color: rgba(16, 15, 15, 0.98);

}

