.box{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    width: 1350px;
}
.inp{
    margin-left: 50px;
}
.load{
    margin-top: 600px;
    position: fixed;
    margin-left: 650px;

}
