
.container .card{
    position: relative;
}
.face{
    width: 230px;
    height: 356px;
    transition: 3s;
    margin-left: 15px;
    border-radius: 10px;
}
.face{
    border-radius-bottomleft:0;
    border-radius-bottomright:0 ;
}
.imp{
    /*width: 800px;*/
    height: 300px;
    object-fit: contain;
    /*width: 100%;*/
    /*aspect-ratio: 100/7;*/
    position: relative;
    margin-top: -70px;

}
.container .card .face{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /*justify-content: center;*/
    align-content: center;
    z-index: 1;
    transform: translateY(100px);

}
.container .card:hover .face{
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 80px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}
.container .card .face .content{
    opacity: .5;
    transition: 0.5s;
    text-align: center;
}
.container .card:hover .face .content{
    opacity: 1;
}
.content h3{
    font-size: 1em;
    color: white;
    text-align: center;
}
.face a{
transition: .5s;
}


.face2{
    width: 230px;
    height: 200px;
    transition: 4s;
    position: relative;
    background: #444343;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 202px 50px rgba(0,0,0,.8);
    transform: translateY(-150px);
    margin-left: 15px;
    border-radius: 10px;
}
.card:hover .face2{
    transform: translateY(-10px);
}
.content a:hover{
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5) ;
}



.fa{
    color: gold;
    top: 6px;
    position: relative;
}
.faStar{
    size: 10px;
}

.candy{
    margin-left: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /*display: inline-block;*/
    box-shadow:  inset 2px 2px 2px 0 rgba(255,255,255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    background: rgba(247,150,192);
    background: radial-gradient(circle, rgba(93, 58, 81, 0.35) 0%,rgba(118,174,241,1)100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.candy span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.candy::before,
.candy::after{
    position: absolute;
    content: '';
    height: 0;
    width: 1px;
    box-shadow: -1px -1px 20px 0 rgba(255,255,255,1),
-4px -4px 5px 0 rgba(255,255,255,2),
7px 7px 20px 0 rgba(0,0,0,.4),
4px 4px 5px 0 rgba(0,0,0,.3);
}
.candy:before{
    right: 0;
    transition: all 500s ease;
    top: 0;
}
.candy:after{
    left: 0;
    bottom: 0;
    transition: all 500s ease;
}
.candy:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}
.candy:hover::before{
    transition: all 500ms ease;
    height: 100%;
}
.candy:hover:after{
    transition: all 500ms ease;
    height: 100%;
}

.candy span::before,
.candy span::after{
    position: absolute;
    content: '';
    box-shadow:
    -1px -1px 20px 0 rgba(255,255,255,1),
   -4px -4px 5px 0 rgba(255,255,255,1),
    7px 7px 20px 0 rgba(0,0,0,.4),
    4px 4px 5px 0 rgba(0,0,0,.3);
}
.candy span::before{
    left: 0;
    top: 0;
    width: 0;
    height: .5px;
    transition: all 500ms ease;
}
.candy span::after{
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.5px;
    transition: all 500ms ease;
}
.candy span:hover::before{
    width: 100%;
}
.candy span:hover::after{
    width: 100%;
}
.original_title{
    color: #cbc5c5;
    font-size: 14px;
}
.grid{
    display:flex;
    align-items: center;
    width: 200px;
    height: 30px;
}
.boxRelease_date{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.release_date{
    height: 30px;
    color: #cbc5c5;

    margin-top: 5px;
}