

.switch{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    bottom: 3px;
    margin-left: -100px;
}
.switch__inp{
    height: 0;
    width: 0;
    opacity: 0;
}
.switch__slider{
    transition: 0.4s;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;

    background-color: #444343;
}
.switch__slider::before{
    content: '';
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 2px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
    z-index: 2;
}
.switch__inp:focus + .switch__slider{
    box-shadow: 0 0 1px cornflowerblue;
}
.switch__inp:checked + .switch__slider{
    /*background-color: cornflowerblue;*/
}
.switch__inp:checked + .switch__slider::before{
   transform: translateX(26px);
}
.moon{
    z-index: 1;
    margin-right: 20px;
    position: absolute;
    margin-left: 4px;
    color: #cc9d1d;
}
.sun{
    position: absolute;
    margin-left: -28px;
    color: #f5e909;
}



.user{
    height: 50px;
    width: 50px;
}