.footer{
    width: 100%;
    height: 70px;
    background: #252225;
    display: flex;
    border-top:1px solid silver ;
}
.boxFooter{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    border-radius: 50%;
    box-shadow:5px 5px 10px #0e0e0e,
     -5px -5px 10px #454546;
    /*background: #252225;*/
}
.boxA{
    display: flex;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.icon:hover{
    color: rgb(447,239,3);
    box-shadow: inset 5px 5px 10px #0e0e0e,
    inset -5px -5px 10px #454546;

}