html{
    scroll-behavior: smooth;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form{
    margin-top: 10px;
    /*margin-left: 23.4%;*/
    margin-left: 240px;
}
.boxInp{
    height: 50px;
}
 .formInp{

    width: 100px;
    /*height: 0px;*/
    position: relative;
    background: none;
    font-family: Broadway;
     color: white;
    border: none;
    font-size: 15px;
    letter-spacing: 8px;
    z-index: 1;
}

.boxButton{
    border: 2px solid aqua;
    position: relative;
    margin-left: 450px;
    top: 1.3px;
    text-align: center;
    display: block;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 20px;
    width: 107px;
    height: 30px;
}
.boxButton .liquid{

    position: absolute;
    top: -60px;
    left: 0;
    width: 137px;
    height: 100px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0,0,0, .5);
    transition: .5s;
}
.boxButton .liquid::after,
.boxButton .liquid::before{
    content: '';
    width: 160%;
    height: 190%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-100%, -100%);
    background: #000;
}
.aboxButton .liquid::before{
    border-radius: 25%;
    background: rgba(20,20,20, 1);
    animation: animate 5s infinite;
}
.boxButton .liquid::after{
    border-radius: 20%;
    background: rgba(20,20,20, .5);
    animation: animate 10s linear infinite;
}
.boxButton:hover .liquid{
    top: -69px;
}
@keyframes animate {
  0%{
      transform: translate(-65%, -69%) rotate(0deg);
  }
    100%{
        transform: translate(-66%, -69%) rotate(360deg);
    } }

.inp{
    position: absolute;
    margin-top:3px;
    background: none;
    font-family: Broadway;
    color:#5b5959;
    /*color: white;*/
    font-size: 16px;
    border: 2px solid aqua;
    border-radius: 15px;
    width: 550px;
    height: 24px;
}
.margen{
    /*margin-left: 900px;*/
    margin-left: 100px;
    display: flex;
}
.boxSelect{
    position: absolute;
    top: 120px;
}
.childFlex{
    margin-top: 4px;
    margin-left: 6px;
}



.loading{
    margin-top: 600px;
    position: fixed;
    margin-left: 650px;

}




