.iu{
    position: relative;
    display: flex;
    left: 0;
    transition: all ease 1s;
}
.box{
    height: 80vh;
    width: 100%;
    background: #333333;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
}
.name{
    display: block;
    margin-left: 42%;
    color: #676666;
    font-family: Algerian;
}